.home-maincontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 25px;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 1%;
}

.add-note-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.show-notes-maincontainer {
    align-items: center;
    margin-top: 45px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.show-notes-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media only screen and (max-width: 600px) {

    .add-notes-close,
    .add-notes-maincontainer,
    .notes-maincontainer {
        width: 60%;
    }
}